@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --logo-color: #6070ff;
  --menu-icon-color: #6070ff;
  --h1-color: #172b4d;
  --span-color: #7f8cff;
  --paragraph-color: #344563;
  --font-family: "Poppins", sans-serif;
  --li-color: ##c1c7d0;
  --h3-color: #172b4d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;
  font-family: var(--font-family);
  background-color: #ffff;
}

/* Header Section */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  height: 40px;
  color: var(--logo-color);
}

/* text logo */

.logo {
  color: var(--logo-color);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 700;
}

/* Menu Icon */

.ion-icon {
  padding: 8px;
  margin: 0 24px;
  font-size: 64px;
  color: var(--menu-icon-color);
}

/* Hero section starts here */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url("images/background/bg_image.svg");
  background-repeat: no-repeat;
  background-color: #ffff;
}

h1 {
  margin-left: 25px;
  margin-top: 100px;
  color: var(--h1-color);
  font-size: 36px;
  text-align: left;
}

.paragraph {
  padding: 20px;
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--font-family);
}

.media_icons {
  padding-left: 20px;
  margin-top: 10px;
  display: flex;
  list-style: none;
}

li {
  margin-right: 20px;
}

.connect {
  padding-left: 20px;
  color: var(--span-color);
}

.media-icons:hover,
.menu:hover,
.logo:hover {
  cursor: pointer;
}

.vertical-space {
  height: 50px;
}

/* hero section ends */

/* works section starts */
.works {
  margin-top: 50px;
  background-color: #f7f7f9;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #fff;
  height: 130vh;
  border: 1px solid rgb(219, 216, 216);
  border-radius: 16px;
  padding: 16px;
  margin: 25px;
}

.image-fluid {
  width: 100%;
  display: inline-block;
  object-fit: contain;
}

.tonic {
  color: var(--h3-color);
  font-size: 26px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 24px;
}

.text {
  margin-top: 10px;
}

.multi-post {
  color: var(--h3-color);
  font-size: 26px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 24px;
}

.flex-items {
  display: flex;
  margin-top: 10px;
}

.canopy {
  list-style: none;
  color: #344563 !important;
}

.works_paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.list-item {
  margin-right: 25px;

  /* background-color: var(--li-color); */
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.btn-container-flex {
  margin-top: 5px;
}

.btn-sm {
  background-color: #ebebff;
  width: 50px;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  color: #b7bcff;
}

.btn-md {
  background-color: #ebebff;
  width: 60px;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  color: #b7bcff;
}

.btn-lg {
  background-color: #ebebff;
  width: 70px;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  color: #b7bcff;
}

.btn-container {
  margin-top: 10px;
}

.btn-xxl {
  width: 120px;
  text-align: center;
  height: 50px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
}

.btn-sm:hover,
.btn-md:hover,
.btn-lg:hover,
.btn-xxl {
  cursor: pointer;
}

/* works section */
.about {
  height: 125vh;
}

.about-btn {
  margin-left: 20px;
}

.btn-resume {
  font-size: 15px;
  font-weight: 400;
}

/* languages section */
.skill-sec {
  height: 130vh;
}

.skill-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skill-1 {
  margin: 20px;
  display: flex;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 20vh;
  background-color: #f7f7f9;
}

.skill-2 {
  margin: 20px;
  display: flex;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 20vh;
  background-color: #f7f7f9;
}

.skill-3 {
  margin: 20px;
  display: flex;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 20vh;
  background-color: #f7f7f9;
}

.skill-img {
  height: 48px;
  width: 48px;
  object-fit: cover;
  margin: 10px;
}

hr {
  width: 80%;
  margin: auto;
  color: #e3e5e9;
}

.skills-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.skill-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.framework-sec {
  display: flex;
  align-items: center;
  margin: auto;
  height: 30px;
  margin-bottom: 20px;
  width: 80%;
}

.skills-framework-sec {
  display: flex;
  align-items: center;
  margin: auto;
  height: 30px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.chevron-1 {
  position: relative;
  left: 60%;
}

hr {
  color: #dfe1e6;
  width: 80%;
}

.chevron-2 {
  position: relative;
  left: 80%;
}
